{{- $bg := resources.Get "images/og-bg.png" -}}
{{- $fontBold := resources.Get "fonts/Inter-Bold.ttf" -}}
{{- $fontRegular := resources.Get "fonts/Inter-Regular.ttf" -}}

{{/* Header: @teamleads_kz */}}
{{- $bg = $bg | images.Filter (images.Text "@teamleads_kz" (dict
  "color" "#00AFCA"
  "size" 40
  "font" $fontBold
  "x" 80
  "y" 60
)) -}}

{{/* Period badge */}}
{{- $period := .Params.period | default "" -}}
{{- $meta := printf "Инсайты · %s · %d сообщений" $period (.Params.messagesCount | default 0) -}}
{{- $bg = $bg | images.Filter (images.Text $meta (dict
  "color" "#6B7280"
  "size" 24
  "font" $fontRegular
  "x" 80
  "y" 120
)) -}}

{{/* Topic titles from YAML frontmatter */}}
{{- $y := 200 -}}
{{- with .Params.topics -}}
  {{- range $i, $topic := . -}}
    {{- if lt $i 7 -}}
      {{- $line := printf "%d. %s" (add $i 1) ($topic.title | truncate 55) -}}
      {{- $bg = $bg | images.Filter (images.Text $line (dict
        "color" "#1F2937"
        "size" 26
        "font" $fontRegular
        "x" 80
        "y" $y
      )) -}}
      {{- $y = add $y 48 -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* Footer */}}
{{- $bg = $bg | images.Filter (images.Text "тимлид не кодит" (dict
  "color" "#9CA3AF"
  "size" 22
  "font" $fontRegular
  "x" 80
  "y" 570
)) -}}

{{- $path := printf "og/%s.png" .File.ContentBaseName -}}
{{- $og := $bg.Content | resources.FromString $path -}}
{{- return $og -}}
